.contact-pic {
	margin:  80px 10px 10px 10px;
}
.contact-pic img {
	opacity: 0.9;
	border-radius: 25px;
}
.col {
	position: relative;
}

.contact-content {
	margin: 30px 10px 10px 10px;
}

.about-contact {
	color: grey;
	text-align: center;
	padding:  10px;
}

.contact-name {
	height: 32px;
	line-height: 32px;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}
.name-eng {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	color: black;
}
.name-sep {
	font-size: 26px;
	color: grey;
}
.name-chi {
	font-size: 22px;
	color: grey;
}

.mytooltipped {
	padding: 5px;
	font-size: 36px;
	height: 36px;
	line-height: 36px;
	background-color: transparent;
	color: grey;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mytooltipped:hover {
	background-color: transparent;
	color: grey;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.name-cv {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	opacity: 1;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.name-cv:hover {
	opacity: 0.5;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.about-desp {
	font-size: 16px;
}
.about-desp p {
	text-indent: 2em;
	text-align: justify;
	line-height: 18px;
}

.about-quote {
	padding: 15px;
}

.icon-wrapper {
	text-align: center;
}
.icon-wrapper img {
	opacity: 0.6;
	width: 50px;
	transition: opacity .3s ease-in-out;
	margin: 15px 25px 15px 25px;
	display: inline-block;
}
.icon-wrapper img:hover {
	opacity: 0.4;
	transition: opacity .3s ease-in-out;
	cursor: pointer;
}