.container {
	padding: 30px 30px 30px 30px;
	font-family: "Times New Roman", Times, serif;
}

.mynav-wrapper {
	margin-top: 30px; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid black;
}

#nav-mobile li a {
	font-size: 18px;
	background-color: transparent;
	color: black;
	opacity: 0.5;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#nav-mobile li a:hover {
	opacity: 1;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#nav-mobile #select-nav {
	opacity: 1;
}

footer {
	margin: 25px 5px 5px 5px;
	text-align: center;
	color: lightgrey;
}