.p-item-nav {
	font-size: 18px;
	color: black;
	opacity: 0.5;
	line-height: 20px;
	height: 20px;
}

.p-item-nav a {
	text-align: right;
	color: black;
}

.p-item-nav-port {
	text-align: right;
	opacity: 0.5;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.p-item-nav-port:hover {
	opacity: 0.8;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.p-item-nav-arrow {
	text-align: center;
	opacity: 0.5;
}

.p-item-title {
	margin: 20px 5px 10px 5px;
	text-align: center;
	font-size: 30px;
	color: black;
}

.p-item-content {
	font-size: 16px;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}
.p-item-content ul {
	padding-left: 30px;
}
.p-item-content ul li{
	list-style-type: disc;
}

.myvideo-wrapper {
	margin: 10px;
}

.p-item-imgs {
	text-align: center;
}
.p-item-img {
	position: relative;
	display: inline-block;
	width: 30%;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: 1% 1% 1% 1%;
	overflow: hidden;
	text-align: center;
}
.material-placeholder {
	width: 100%;
	height: 100%;
}
.p-item-img-h img {
	width: auto;
	height: 100%;
}
.p-item-img-v img {
	width: 100%;
	height: auto;
}

.p-item-icons {
	text-align: center;
	margin: 20px;
}
.p-item-icon {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}
.mytooltipped {
	opacity: 0.6;
	padding: 5px;
	font-size: 36px;
	height: 36px;
	line-height: 36px;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.mytooltipped:hover {
	opacity: 0.3;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.mytooltipped svg {
	width: 50px;
	height: 50px;
}