.p-item-nav {
	font-size: 18px;
	color: black;
	opacity: 0.5;
	line-height: 20px;
	height: 20px;
}

.p-item-nav a {
	text-align: right;
	color: black;
}

.p-item-nav-port {
	text-align: right;
	opacity: 0.5;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.p-item-nav-port:hover {
	opacity: 0.8;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.p-item-nav-arrow {
	text-align: center;
	opacity: 0.5;
}

.p-item-title {
	margin: 20px 5px 10px 5px;
	text-align: center;
	font-size: 30px;
	color: black;
}

.p-item-img {
	position: relative;
	display: inline-block;
	width: 33%;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	text-align: center;
}
.p-item-img-h img {
	width: auto;
	height: 100%;
}
.p-item-img-v img {
	width: 100%;
	height: auto;
}
